@import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
  display: flex;
  padding: 10px;
  background-color: #deb887;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-form__input {
  min-width: 400px;
  min-height: 40px;
  border-radius: 4px;
  border-color: transparent;
}

.search-form__input:focus {
  color: orange;
}

.search-form__submit {
  border-radius: 4px;
  border-color: transparent;
  margin-left: 10px;
}

.search-form__submit:hover {
  background-color: orange;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
